<script setup>
import TextFieldControl from "@/components/TextFieldControl.vue";
import AppForm from "@/components/AppForm.vue";

function save(values) {
  window.alert(JSON.stringify(values))
}
</script>

<template>
  <main>
    <h2 class="subtitle">Contact Info - Extended</h2>
    <p>
      Contains application components wrapping up Vee Validate to reduce boilerplate and a
      form-wrapping component to insulate the app from any Vee Validate compatibility-breaking changes
    </p>

    <AppForm @submit="save" v-slot="{ meta }">
      <text-field-control id="firstName" name="firstName" label="First Name" rules="required|max:100" />
      <text-field-control id="lastName" name="lastName" label="Last Name" rules="required|max:100" />
      <div class="field is-grouped">
        <p class="control">
          <button type="submit" class="button is-link" :disabled="!meta.valid" >
            Save changes
          </button>
        </p>
      </div>
    </AppForm>
  </main>
</template>
