<script setup>
import {ErrorMessage, Field, Form} from "vee-validate";

function save(values) {
  window.alert(JSON.stringify(values))
}
</script>

<template>
  <main>
    <h2 class="subtitle">Contact Info</h2>
    <Form @submit="save" v-slot="{ meta }">
      <div class="field">
        <div class="control">
          <label for="firstName" class="label">First Name</label>
          <Field id="firstName" name="firstName" class="input" rules="required|max:100" label="First Name"/>
          <ErrorMessage class="has-text-danger" name="firstName" />
        </div>
      </div>
      <div class="field">
        <div class="control">
          <label for="lastName" class="label">Last Name</label>
          <Field id="lastName" name="lastName" class="input" rules="required|max:100" label="Last Name" />
          <ErrorMessage class="has-text-danger" name="lastName" />
        </div>
      </div>
      <div class="field is-grouped">
        <p class="control">
          <button type="submit" class="button is-link" :disabled="!meta.valid">
            Save changes
          </button>
        </p>
      </div>
    </Form>
  </main>
</template>
