<script setup>
import {Form} from "vee-validate";

const emit = defineEmits(["submit"])

function doSubmit(values) {
  emit("submit", values)
}
</script>

<template>
  <Form @submit="doSubmit" v-slot="formProps">
    <slot v-bind="formProps"></slot>
  </Form>
</template>
