<script setup>

import {Field,ErrorMessage} from "vee-validate";

const props = defineProps(["name", "label", "id", "rules"])
</script>

<template>
  <div class="field">
    <div class="control">
      <label :for="props.id" class="label">{{ props.label }}</label>
      <Field :id="props.id" :name="props.name" class="input" :rules="rules" :label="label"/>
      <ErrorMessage class="has-text-danger" :name="props.name" />
    </div>
  </div>
</template>

<style scoped>

</style>
