<script setup>
import {onMounted, ref} from "vue";
import {useForm} from "vee-validate";
import {toTypedSchema} from "@vee-validate/yup";
import * as yup from 'yup';

const schema = toTypedSchema(
    yup.object({
      myField: yup.string().required(),
    }),
);

const initialValues = ref({
  "myField": "value at setup" // quickly replaced by setValues()
});

const { meta, defineField, values, errors, setValues } = useForm({
  validationSchema: schema,
  initialValues: initialValues
});

const [myField, myFieldAttrs] = defineField("myField");

const pageLoading = ref(true);

function submit() {
  window.alert("You have submitted " + JSON.stringify(values));
}

onMounted(async () => {
  try {
    // fake api call
    await fetch("https://www.w3.org/"); // site allow cors
    setValues({ "myField": "value at mounted"});
  } finally {
    pageLoading.value = false;
  }
});
</script>
<template>
  <div class="content">
    <h1>Composition API Example</h1>
    <p>
      A manual <code>setValues</code> call allows the API result to initialize the form
    </p>
    <p>
      This works and is fully supported by the Vee Validate Composition API.
      However, there is a lot of extra code including a separate Yup library
      to exercise the control needed to make the <code>setValues</code> call.
    </p>
    <div class="field">
      <div class="control">
        <label for="myField" class="label">Field</label>
        <input
            class="input"
            id="myField"
            name="myField"
            v-model="myField"
            v-bind="myFieldAttrs"
            :disabled="pageLoading"
        />
      </div>
      <small v-if="errors && errors.myField" class="has-text-danger">{{ errors.myField }}</small>
    </div>
    <div class="buttons">
      <button class="button" :disabled="pageLoading || !(meta.valid)" @click="submit">Submit</button>
    </div>
    <table class="table is-bordered">
      <tbody>
      <tr><td>Form.initialValues.myField</td><td>{{ initialValues.myField }}</td></tr>
      <tr><td>Form.values.myField</td><td>{{ values.myField  }}</td></tr>
      </tbody>
    </table>
  </div>
</template>

