<script setup>
import {onMounted, ref} from "vue";
import {ErrorMessage, Field, Form} from "vee-validate";

const initialValues = ref({
  "myField": "value at setup"
});

const pageLoading = ref(true);

function submit(values) {
  window.alert("You have submitted " + JSON.stringify(values));
}

onMounted(async () => {
  try {
    // fake api call
    await fetch("https://www.w3.org/"); // site allow cors
    initialValues.value.myField = "value at mounted";
  } finally {
    pageLoading.value = false;
  }
});

</script>
<template>
  <div class="content">
    <h1>Deferred onMounted</h1>
    <p>
      Although <code>ref()</code> is used, the modification to the initialValues
      object after the API call is not reflected in the Field values
    </p>
    <Form @submit="submit" :initial-values="initialValues" v-slot="{ meta, values }" v-if="!pageLoading">
      <div class="field">
        <div class="control">
          <label for="myField" class="label">Field</label>
          <Field class="input" id="myField" name="myField" label="My Field" rules="required" :disabled="pageLoading"/>
        </div>
        <ErrorMessage class="has-text-danger" name="myField"/>
      </div>
      <div class="buttons">
        <button class="button" :disabled="pageLoading || !(meta.valid)">Submit</button>
      </div>
      <table class="table is-bordered">
        <tbody>
        <tr><td>Form.initialValues.myField</td><td>{{ initialValues.myField }}</td></tr>
        <tr><td>Form.values.myField</td><td>{{ values.myField  }}</td></tr>
        </tbody>
      </table>
    </Form>
  </div>
</template>

