<script setup>
import {ErrorMessage, Field, Form} from "vee-validate";

const initialValues = {
  "myField": "myInitialValue"
};

function submit(values) {
  window.alert("You have submitted " + JSON.stringify(values));
}
</script>
<template>
  <div class="content">
    <h1>No Reactivity Needed</h1>
    <p>
      Values are set at script-setup time so no reactivity is needed in the Form
      initial-values attribute
    </p>
    <Form @submit="submit" :initial-values="initialValues" v-slot="{ meta }">
      <div class="field">
        <div class="control">
          <label for="myField" class="label">Field</label>
          <Field class="input" id="myField" name="myField" label="My Field" rules="required"/>
        </div>
        <ErrorMessage class="has-text-danger" name="myField"/>
      </div>
      <div class="buttons">
        <button class="button" :disabled="!(meta.valid)">Submit</button>
      </div>
    </Form>
  </div>
</template>

