<script setup>
import { RouterLink, RouterView } from 'vue-router'
</script>

<template>
  <div class="container mt-6">
    <h1 class="title">Vee Validate Demos</h1>
    <div class="columns">
      <div class="column">
        <header>
          <nav>
            <ul>
              <li class="mb-4">Component Framework Demos</li>
              <li>
                <RouterLink to="/">Component Framework (Plain)</RouterLink>
              </li>
              <li>
                <RouterLink to="/ext">Component Framework Extended</RouterLink>
              </li>
              <li>
                <RouterLink to="/ext2">Component Framework Extended 2</RouterLink>
              </li>
              <li><hr></li>
              <li class="mb-4">Reactive Initial Values Demos</li>
              <li>
                <RouterLink to="/riv1">Reactive Initial Values - No Reactivity Needed</RouterLink>
              </li>
              <li>
                <RouterLink to="/riv2">Reactive Initial Values - Broken Initial Values</RouterLink>
              </li>
              <li>
                <RouterLink to="/riv3">Reactive Initial Values - Deferred onMounted</RouterLink>
              </li>
              <li>
                <RouterLink to="/riv4">Reactive Initial Values - Composition API</RouterLink>
              </li>
              <li><hr></li>
              <li class="mb-4">Cross Field Validation Demo</li>
              <li>
                <RouterLink to="/cvf">Exp Year and Month</RouterLink>
              </li>
            </ul>
          </nav>
      </header>
      </div>
      <div class="column">
      <RouterView/>
      </div>
    </div>
    <footer class="footer">Bekwam.net</footer>
  </div>
</template>

<style>
@import 'bulma/css/bulma.css';
</style>
