<script setup>

import Composed_Fieldset_Form from "@/views/Crossfield_Validation/CVF_Form.vue";
</script>

<template>
  <main>
    <h2 class="subtitle">Composed Fieldset</h2>
    <p class="content">
      Demonstration of the Yup <code>test</code> function to provide Vee Validate
      with a cross-field validator checking an Expiration Month against a
      selected Expiration Year
    </p>
    <Composed_Fieldset_Form />
  </main>
</template>

<style scoped>

</style>
