<script setup>

import {ErrorMessage, Field} from "vee-validate";
import ExpYearMonth from "@/views/Crossfield_Validation/ExpYearMonth.vue";

const props = defineProps({
  firstNameName: {
    default: "firstName"
  },
  expYearName: {
    default: "expYear"
  },
  expMonthName: {
    default: "expMonth"
  }
});
</script>

<template>
  <div class="field">
    <div class="control">
      <label class="label" :to="props.firstNameName">First Name</label>
      <Field
          :id="props.firstNameName"
          :name="props.firstNameName"
          class="input"
      />
      <ErrorMessage class="has-text-danger" :name="firstNameName" />
    </div>
  </div>

  <exp-year-month :exp-year-name="props.expYearName" :exp-month-name="props.expMonthName" />

</template>

<style scoped>

</style>
