<script setup>
import {Form} from "vee-validate";
import * as Yup from 'yup';
import Composed_Fieldset_Fieldset from "@/views/Crossfield_Validation/CVF_Fieldset.vue";

const d = new Date();
const currYear = d.getUTCFullYear();
const currMonth = d.getUTCMonth();
const currMonth_s = String(currMonth+1).padStart(2, "0");

const expMonthCheck = (value,context) => {
  // assert: 'ey' is the year field in the schema
  if( context.parent.ey == currYear ) { // assert: won't be earlier year
    return value >= currMonth_s; // lexical compare ok
  }
  return true;
};

const schema = Yup.object().shape({
  fn: Yup.string().label("First Name").required(),
  ey: Yup.string().label("Exp Year").required(),
  expMonth: Yup.string().label("Exp Month").required()
      .test("expMonth", "${path} must be " + currMonth_s + " or later", expMonthCheck)
});

function save(values) {
  window.alert(JSON.stringify(values));
}
</script>

<template>
<Form @submit="save" v-slot="{ meta }" :validation-schema="schema">

  <!--
  assert: schema field names match values provided to _Fielset component
  -->

  <Composed_Fieldset_Fieldset
      first-name-name="fn"
      exp-year-name="ey"
      exp-month-name="expMonth"
  />
  <div class="buttons">
    <button type="submit" class="button" :disabled="!meta.valid">Save</button>
  </div>
</Form>
</template>

<style scoped>

</style>
