<script setup>
import {ErrorMessage, Field} from "vee-validate";

const props = defineProps({
  expYearName: {
    default: "expYear"
  },
  expMonthName: {
    default: "expMonth"
  }
});

const d = new Date();
const currYear = d.getUTCFullYear();
const yearWindow = 10; // this year plus 10 in the future
const nMonths = 12;

const years = [];
for( let i=currYear; i<currYear + yearWindow; i++ ){
  years.push(String(i));
}

const months = [];
for( let j=1; j<=nMonths; j++ ){
  months.push( String(j).padStart(2, "0"));
}

</script>

<template>
  <div class="columns">
    <div class="column">
      <div class="field">
        <div class="control">
          <label class="label" :to="props.expYearName">Exp Year</label>
          <Field
              :id="props.expYearName"
              :name="props.expYearName"
              class="input"
              as="select"
          >
            <option value="">Select a Year</option>
            <option v-for="yr in years" :value="yr">{{ yr }}</option>
          </Field>
        </div>
        <ErrorMessage class="has-text-danger" :name="props.expYearName" />
      </div>
    </div>
    <div class="column">
      <div class="field">
        <div class="control">
          <label class="label" :to="props.expMonthName">Exp Month</label>
          <Field
              :id="props.expMonthName"
              :name="props.expMonthName"
              class="input"
              as="select"
          >
            <option value="">Select a Month</option>
            <option v-for="mn in months" :value="mn">{{ mn }}</option>
          </Field>
          <ErrorMessage class="has-text-danger" :name="props.expMonthName" />
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>

</style>
